.k_tbdr{
  border:1px dashed blue;
}
body{
  background-color: #E8E8E8;
}
header{
  height: 88px;
  border: 1px dashed red;
  background-color: white;
}
main{
  min-height: 1500px;
  background-color: white;
}
footer{
  height: 350px;
  border:1px dashed black;
  background-color: white;
}
   
@media (min-width: 1400px){}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1440px;
}